body{
    margin:0;
    background:#000;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.calculator{
    background:#111;
    padding:20px;
    border-radius:30px;
    box-shadow:0 0 50px rgba(255,149,0,0.3);
    animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn{
    from{opacity:0; transform:scale(0.9);}
    to{opacity:1; transform:scale(1);}
}

#display{
    width:100%;
    height:90px;
    background:#000;
    color:white;
    font-size:40px;
    text-align:right;
    border:none;
    outline:none;
    margin-bottom:20px;
}

.buttons{
    display:grid;
    grid-template-columns: repeat(4, 80px);
    gap:15px;
}

button{
    height:80px;
    border:none;
    border-radius:50%;
    font-size:24px;
    background:#333;
    color:white;
    cursor:pointer;
    transition:0.1s;
}

button:hover{
    transform:scale(1.1);
}

.orange{
    background:#ff9500;
}

.gray{
    background:#a5a5a5;
    color:black;
}

.zero{
    grid-column: span 2;
    border-radius:40px;

}

/* Number buttons normal hover effect (optional) */
button:not(.orange):active {
    background:#444;   /* thoda dark for number press */
}

/* Operator buttons active effect */
.orange:active {
    background:white;  /* operator white on touch */
    color:#ff9500;     /* text color orange while active */
}
